$mainColor: #fff;
$font: 'Barlow', sans-serif;
$containerWidth: 800px;
$defaultCityBg: url(//uploads.codesandbox.io/uploads/user/7907dbc5-9a62-4c02-b43f-2f2b34d82638/Q7QA-bg.jpg);
$smallBoxesWidth: 280px;